*{
 margin: 0;
 padding: 0;
 font-family: "Playfair Display";
 color: #cacaca;
 cursor: default;
}

body{
  background-color: rgb(75, 30, 45);
  background-image: url(./images/body-background.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-floating{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(93, 51, 65);
  border-radius: 50px;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
  width: 85%;
  height: 80%;
  gap: 4%;
  padding: 2% 3%;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  align-items: center;
  padding: 0.75% 1.75%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-section-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.index-logo-container{
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  padding: 2px 12px;
  transition: all 0.75s ease;
}
.logo-wine-home-img{
  width: 30px;
  height: auto;
  cursor: pointer;
}

.index-logo-container:hover{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  padding: 2px 12px;
}
.index-logo-container:active{
  box-shadow: inset 0 0 4px 1px rgba(169, 169, 169, 0.25);
}

.payment-form-logo-contain{
  border-radius: 25px;
  padding: 2px 12px;
  transition: all 0.75s ease;
}

.payment-form-logo-contain:hover{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  padding: 2px 12px;
}
.payment-form-logo-contain:active{
  box-shadow: inset 0 0 4px 1px rgba(169, 169, 169, 0.25);
}

.brand-name{
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 2px;  
  font-family: 'Georgia', serif;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 30px;
}

.brand-description{
  color: #cacaca;
  font-family: 'Georgia', serif;
  font-size: 1.25em;
  text-wrap: nowrap;
}

.header-section-right{
  display: flex;
  gap: 5%;
  align-items: center;
}

.links-smt{
  text-decoration: none;
  font-size: 1.15em;
  text-wrap: nowrap;
  padding: 10px 20px;
  transition: all 0.75s ease;
  &.suscribe{
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50px;
  }
}

.links-smt:hover{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.links-smt:active{
  box-shadow: inset 0 0 4px 1px rgba(169, 169, 169, 0.25);
}

.index-main{
  display: flex;

  flex-direction: column;
  gap: 10%;
  overflow-y: scroll;
  scroll-behavior:smooth;
  padding-right: 12.5px;
  margin-right: -15px;
}

main::-webkit-scrollbar {
  width: 8px;
  margin-left: 10px;
}
main::-webkit-scrollbar-track {
  background: none;
}
main::-webkit-scrollbar-thumb {
  background: rgba(75, 30, 45, 0.25);
  border-radius: 10px;
}
main::-webkit-scrollbar-thumb:hover {
  background: rgba(75, 30, 45, 0.75);
}

.wine-background{
  display: flex;
  flex-direction: row;
  gap: 10%;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.hero-image{
  display: flex;
  width: 40%;
  opacity: 0.8;
  border-radius: 50px;
}

.txt-btn-vertical{
  overflow-x: hidden;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  padding-right: 15px;
}

.wine-name{
  color: #CACACA;
  font-size: 2em;
  margin-bottom: 2%;

}

.wine-explanation{
  font-size: 1em;
  color: #CACACA;
  width: 75%;
}

.payment-form-main{
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 0 1%;
  gap: 5%;
}

.currency-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.payment-h2{
  text-align: center;
  color: #CACACA;
  font-family: "Playfair Display";
}

.currency{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.btn-currency{
  margin-left: 10%;
  background-color: rgba(75, 30, 45, 0.75);
  padding: 4px;
  border: outset rgba(52, 21, 31, 0.75);
  transition: all 0.7s ease;
}

.btn-currency:hover{
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.btn-currency:active{
  background-color: rgba(135, 54, 81, 0.75);
}

.form-container{
  height: 100%;
  width: 25%;
  background-color: rgb(75, 45, 55);
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: center;
  padding: 2%;
  justify-content: space-between;
}

.input-field{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.inut-label{
  justify-self: left;
}

input{
  width: 200px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background-color: #cacaca;
}

.btn-getIt{
  width: 50%;
  align-self: center;
  padding: 4px;
  background-color: rgb(116, 48, 70);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.7s;
}

.btn-getIt:active{
  background-color: rgb(149, 61, 89);
}
footer{
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.20);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 0.25% 2%;
  position: sticky;
  bottom: 0;
  z-index: 10;
  justify-content: end;
  gap: 2.5%;
}

.a-icons{
  display: flex;
  justify-content: center;
}

.socials-icons{
  width: 23px;
  padding: 30% 40%;
  transition: all 0.75s ease;
}

.socials-icons:hover{
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 25%;
}

.socials-icons:active{
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 0 2px 1px rgba(169, 169, 169, 0.25);
}